<p id="notice"><%= notice %></p>
  <h2>CODING</h2>
  <p class="subheading">Thoughts, tutorials, snippets, gotchas, and other random musings about programming.</p>
  <hr/>

  <%=render "shared/list" %>